body {
  
    font-family:Arial, Helvetica, sans-serif;
    background: url("../img/casino.png");
    height: 100vh;
    background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  }

  header{
    background: url("../img/adKr.png");
    height: 221px;
    background-repeat: no-repeat;
  background-position: right top;

}

label{
color: white;
}
