*{
padding: 0;
margin: 0;
/* znamená, že výplň a okraj budou zahrnuty do prvků celková šířka a výška*/
box-sizing: border-box;
font-family: 'Bangers', cursive;
}
/*Nastavení pozadí, a kde bude vytvořené. */
canvas{
    background: black;
    position: absolute;
    top: 0;
    left: 0;
}

input{
    position: absolute;
    /* calc funkce nám umožňuje provést výpočet při zadávání hodnot vlastností CSS*/
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    z-index: 100;
    
}
